/* Reset */
html {
    margin: 0;
    padding: 0;
    line-height: 1;
}

body {
    background-image: url("/img/cork.jpg");
    background-size: cover;
    width: 100vw;
}


.welcome {
    font-family: serif;
    color: black;
    font-size: 4em;
    margin-left: 4.1em;

}

a {
    color: black;
    font-size: 1.5em;
    font-family: Serif;
    text-decoration: none;
    list-style: none;
}

#adDescription {
    color: black;
    background-color: hotpink;
    border: 1px solid black;
    text-align: center;
    font-family: Serif;
    font-size: 1em;
    text-decoration: none;
}

 .navbar {
     background-color: hotpink;
     color: black
 }

 .navbar-brand {
     font-size: 3em;
 }