/* Reset */
html {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: black;
}

body {
    background-image: url("/img/cork.jpg");
    background-size: cover;
    width: 100vw;
}


#welcome {
    font-family: serif;
    color: yellow;
    font-size: 4em;
    background-color: black;
    text-align: center;
}

a {
    color: black;
    font-size: 2em;
    font-family: serif;
    text-decoration: none;
    list-style: none;
}

.adDescription {
    color: black;
    background-color: yellow;
    border: 1px solid black;
    text-align: center;
    font-family: serif;
    font-size: 2em;
    text-decoration: none;
}

 .navbar {
     background-color: yellow;
     color: black
 }

 .navbar-brand {
     font-size: 3em;
 }